# Basic frontend library for deployment
streamlit

# Utilities
numpy
pandas

# FACE RECOGNITION
scikit-learn
dlib-bin

# For face recognition models
git+https://github.com/ageitgey/face_recognition_models
setuptools==69.5.1
setuptools-scm

# Database
supabase

# For hashing methods
bcrypt   

# QR code url generation
segno

# Image processing
pillow

# Audio recognition and computations
librosa
resemblyzer














